<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/result.css" rel="stylesheet">
    <title>Mahat</title>
    <!--<script src="resultsJSfunctions.js"></script>-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="calendar"></div>
            </div>
            <div class="col-lg-6">
                <div id="resultTable" ></div>
            </div>
        </div>
    </div>

</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script>
    function createElement(tagName, className, innerText) {
        var ele = document.createElement(tagName);
        if(className) {
            ele.className = className;
        }
        if(innerText) {
            ele.innderText = ele.textContent = innerText;
        }
        return ele;
    }
    !function() {

        var today = moment();


        function Calendar(selector, events) {
            this.el = document.querySelector(selector);
            this.events = events;
            this.current = moment().date(1);
            this.draw();
            var current = document.querySelector('.today');
            if(current) {
                var self = this;
//                window.setTimeout(function() {
//                    self.openDay(current);
//                }, 500);
            }
        }

        Calendar.prototype.draw = function() {
            //Create Header
            this.drawHeader();

            //Draw Month
            this.drawMonth();


        }

        Calendar.prototype.drawHeader = function() {
            var self = this;
            if(!this.header) {
                //Create the header elements
                this.header = createElement('div', 'header');
                this.header.className = 'header';

                this.title = createElement('h1');

                var right = createElement('div', 'right');
                right.addEventListener('click', function() { self.nextMonth(); });

                var left = createElement('div', 'left');
                left.addEventListener('click', function() { self.prevMonth(); });

                //Append the Elements
                this.header.appendChild(this.title);
                this.header.appendChild(right);
                this.header.appendChild(left);
                this.el.appendChild(this.header);
            }

            this.title.innerHTML = this.current.format('MMMM YYYY');
        }

        Calendar.prototype.drawMonth = function() {
            var self = this;

            this.events.forEach(function(ev) {

//                ev.date = self.current.clone().date(Math.random() * (29 - 1) + 1);
                var newDay = parseInt(ev.event_day);
                var newMonth = parseInt(ev.event_month);
//                var newMonth = parseInt(ev.event_month) - 1;
                var newYear = parseInt(ev.event_year);
                ev.date = self.current.clone().year(newYear).month(newMonth).date(newDay);
            });


            if(this.month) {
                this.oldMonth = this.month;
                this.oldMonth.className = 'month out ' + (self.next ? 'next' : 'prev');
                this.oldMonth.addEventListener('webkitAnimationEnd', function() {
                    self.oldMonth.parentNode.removeChild(self.oldMonth);
                    self.month = createElement('div', 'month');
                    self.backFill();
                    self.currentMonth();
                    self.fowardFill();
                    self.el.appendChild(self.month);
                    window.setTimeout(function() {
                        self.month.className = 'month in ' + (self.next ? 'next' : 'prev');
                    }, 16);
                });
            } else {
                this.month = createElement('div', 'month');
                this.el.appendChild(this.month);
                this.backFill();
                this.currentMonth();
                this.fowardFill();
                this.month.className = 'month new';
            }
        }

        Calendar.prototype.backFill = function() {
            var clone = this.current.clone();
            var dayOfWeek = clone.day();

            if(!dayOfWeek) { return; }

            clone.subtract('days', dayOfWeek+1);
            for(var i = dayOfWeek; i > 0 ; i--) {
                this.drawDay(clone.add('days', 1));
            }
        }

        Calendar.prototype.fowardFill = function() {
            var clone = this.current.clone().add('months', 1).subtract('days', 1);
            var dayOfWeek = clone.day();

            if(dayOfWeek === 6) { return; }

            for(var i = dayOfWeek; i < 6 ; i++) {
                this.drawDay(clone.add('days', 1));
            }
        }

        Calendar.prototype.currentMonth = function() {
            var clone = this.current.clone();

            while(clone.month() === this.current.month()) {
                this.drawDay(clone);
                clone.add('days', 1);
            }
        }

        Calendar.prototype.getWeek = function(day) {
            if(!this.week || day.day() === 0) {
                this.week = createElement('div', 'week');
                this.month.appendChild(this.week);
            }
        }

        Calendar.prototype.drawDay = function(day) {
            var self = this;
            this.getWeek(day);

            //Outer Day
            var outer = createElement('div', this.getDayClass(day));
            outer.addEventListener('click', function() {
                self.openDay(this);
            });

            //Day Name
            var name = createElement('div', 'day-name', day.format('ddd'));

            //Day Number
            var number = createElement('div', 'day-number', day.format('DD'));


            //Events
            var events = createElement('div', 'day-events');
            this.drawEvents(day, events);

            outer.appendChild(name);
            outer.appendChild(number);
            outer.appendChild(events);
            this.week.appendChild(outer);
        }

        Calendar.prototype.drawEvents = function(day, element) {
            if(day.month() === this.current.month()) {
                var todaysEvents = this.events.reduce(function(memo, ev) {
                    if(ev.date.isSame(day, 'day')) {
                        memo.push(ev);
                    }
                    return memo;
                }, []);

                todaysEvents.forEach(function(ev) {
                    var evSpan = createElement('span', ev.color);
                    element.appendChild(evSpan);
                });
            }
        }

        Calendar.prototype.getDayClass = function(day) {
            classes = ['day'];
            if(day.month() !== this.current.month()) {
                classes.push('other');
            } else if (today.isSame(day, 'day')) {
                classes.push('today');
            }
            return classes.join(' ');
        }

        Calendar.prototype.openDay = function(el) {
            var details, arrow;
            var dayNumber = +el.querySelectorAll('.day-number')[0].innerText || +el.querySelectorAll('.day-number')[0].textContent;
            var day = this.current.clone().date(dayNumber);

            var currentOpened = document.querySelector('.details');

            //Check to see if there is an open detais box on the current row
            if(currentOpened && currentOpened.parentNode === el.parentNode) {
                details = currentOpened;
                arrow = document.querySelector('.arrow');
            } else {
                //Close the open events on differnt week row
                //currentOpened && currentOpened.parentNode.removeChild(currentOpened);
                if(currentOpened) {
                    currentOpened.addEventListener('webkitAnimationEnd', function() {
                        currentOpened.parentNode.removeChild(currentOpened);
                    });
                    currentOpened.addEventListener('oanimationend', function() {
                        currentOpened.parentNode.removeChild(currentOpened);
                    });
                    currentOpened.addEventListener('msAnimationEnd', function() {
                        currentOpened.parentNode.removeChild(currentOpened);
                    });
                    currentOpened.addEventListener('animationend', function() {
                        currentOpened.parentNode.removeChild(currentOpened);
                    });
                    currentOpened.className = 'details out';
                }

                //Create the Details Container
                details = createElement('div', 'details in');

                //Create the arrow
                var arrow = createElement('div', 'arrow');

                //Create the event wrapper

                details.appendChild(arrow);
                el.parentNode.appendChild(details);
            }

            var todaysEvents = this.events.reduce(function(memo, ev) {
                if(ev.date.isSame(day, 'day')) {
                    memo.push(ev);
                }
                return memo;
            }, []);

            this.renderEvents(todaysEvents, details);

            arrow.style.left = el.offsetLeft - el.parentNode.offsetLeft + 27 + 'px';
        }

        Calendar.prototype.renderEvents = function(events, ele) {
            //Remove any events in the current details element
            var currentWrapper = ele.querySelector('.events');
            var wrapper = createElement('div', 'events in' + (currentWrapper ? ' new' : ''));

            events.forEach(function(ev) {
                var div = createElement('div', 'event');
                var square = createElement('div', 'event-category ' + ev.color);
                var span = createElement('span', '', ev.event_name);

                div.appendChild(square);
                div.appendChild(span);
                wrapper.appendChild(div);
            });

            if(!events.length) {
                var div = createElement('div', 'event empty');
                var span = createElement('span', '', 'No Events');

                div.appendChild(span);
                wrapper.appendChild(div);
            }

            if(currentWrapper) {
                currentWrapper.className = 'events out';
                currentWrapper.addEventListener('webkitAnimationEnd', function() {
                    currentWrapper.parentNode.removeChild(currentWrapper);
                    ele.appendChild(wrapper);
                });
                currentWrapper.addEventListener('oanimationend', function() {
                    currentWrapper.parentNode.removeChild(currentWrapper);
                    ele.appendChild(wrapper);
                });
                currentWrapper.addEventListener('msAnimationEnd', function() {
                    currentWrapper.parentNode.removeChild(currentWrapper);
                    ele.appendChild(wrapper);
                });
                currentWrapper.addEventListener('animationend', function() {
                    currentWrapper.parentNode.removeChild(currentWrapper);
                    ele.appendChild(wrapper);
                });
            } else {
                ele.appendChild(wrapper);
            }
        }



        Calendar.prototype.nextMonth = function() {
            this.current.add('months', 1);
            this.next = true;
            this.draw();
        }

        Calendar.prototype.prevMonth = function() {
            this.current.subtract('months', 1);
            this.next = false;
            this.draw();
        }

        window.Calendar = Calendar;


    }();

    !function() {
        var data = [
            { event_name: 'Lunch Meeting w/ Mark', color: 'orange', event_day:'7', event_month:'2', event_year:'2017', event_location:'bla bla', event_link:'https://www.google.co.il/' },
            { event_name: 'Interview - Jr. Web Developer', color: 'orange', event_day:'10', event_month:'2', event_year:'2017', event_location:'bla bla', event_link:'https://www.google.co.il/' },
            { event_name: 'Demo New App to the Board', color: 'orange', event_day:'15', event_month:'3', event_year:'2017', event_location:'bla bla', event_link:'https://www.google.co.il/' },
            { event_name: 'Dinner w/ Marketing', color: 'orange', event_day:'8', event_month:'2', event_year:'2017', event_location:'bla bla', event_link:'https://www.google.co.il/' },
        ];
//        var data = [];

        var results = '{{ resultEvents|safe }}';
        var afterParse = JSON.parse(results);

        for(var i = 0; i < afterParse.length; i++){
            var date = afterParse[i].datetime.split("-");
            var new_event = {event_name:afterParse[i].artist, color:'orange', event_day:date[2].split("T")[0], event_month:date[1]-1, event_year:date[0], event_location:afterParse[i].location, event_link:afterParse[i].link}
            console.log(new_event);
            data.push(new_event);
        }

        var calendar = new Calendar('#calendar', data);
        createTable(data);

    }();
    function createTable(tableData) {
        var el = document.querySelector('#resultTable');
        var table = createElement('table','table table-hover');
        var tableHeader = createElement('thead');
        var row = createElement('tr');
        var cell = createElement('td','','Who');
//        cell.style.textAlign='center';
        row.appendChild(cell);
        cell = createElement('td','','Where');
//        cell.style.textAlign='center';
        row.appendChild(cell);
        cell = createElement('td','','When');
//        cell.style.textAlign='center';
        row.appendChild(cell);
        cell = createElement('td','','Tickets');
//        cell.style.textAlign='center';
        row.appendChild(cell);
        tableHeader.appendChild(row);
        table.appendChild(tableHeader);
        var tableBody = createElement('tbody');


        tableData.forEach(function(rowData) {
            row = createElement('tr');
            //Who
            cell = createElement('td','',rowData.event_name);
            row.appendChild(cell);
            //Where
            cell = createElement('td','',rowData.event_location);
            row.appendChild(cell);
            //When
            var when = new moment({ years:rowData.event_year, months:rowData.event_month, date:rowData.event_day});
            cell = createElement('td','',when.format("dddd, MMMM Do YYYY"));
            row.appendChild(cell);
            //book tickets
            cell = createElement('td');
            var a = document.createElement("A");
            a.setAttribute("href", rowData.event_link);
            a.appendChild(document.createTextNode("Book now"));
            cell.appendChild(a);
            row.appendChild(cell);

            tableBody.appendChild(row);
        });

        table.appendChild(tableBody);
        el.appendChild(table);
    }
</script>
</html>